{% load static %}
{% load compress %}
{% load sekizai_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="Chestnut {{ PRODUCT_NAME_SHORT }}">
    <title>{{ PRODUCT_NAME_SHORT }} - {% block title %}{% endblock %}</title>
    {# Scripts #}
    <!-- Import Bootstrap 5 bundle -->
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap/bootstrap.bundle.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery/jquery-3.6.1.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/vendor/datatables/datatables.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/vendor/datatables/select.dataTables.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/vendor/cytoscape/cytoscape.min.js' %}" defer></script>
{#    <script type="text/javascript" src="{% static 'js/vendor/viz/viz.js' %}" defer></script>#}
{#    <script type="text/javascript" src="{% static 'js/vendor/viz/full.render.js' %}" defer></script>#}
    <script type="text/javascript" src="{% static 'js/vendor/klay/klay.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/vendor/klay/cytoscape-klay.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/vendor/elk/elk.bundled.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/vendor/elk/cytoscape-elk.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/vendor/d3/d3.v4.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/constants.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/utility.js' %}" defer></script>

    {% block scripts %}
    {% endblock %}
    {% render_block "js" %}

    {# Favicon #}
{#    <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}">#}

    {# CSS #}
    {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/style.scss' %}" rel="stylesheet">
    {% endcompress %}


    {% block css %}

    {% endblock %}
    {% render_block 'css' %}
    {# Favicons #}

</head>
<body>
<div id="toastMessageContainer" class="position-fixed bottom-0 end-0 mb-2 me-2 z-2000">
    {% include 'toast_message.html' %}
</div>
<div id="current_user_info">
    <input disabled type="hidden" id="user_name" value="{{ name }}">
</div>
<input disabled id="static_dir" type="hidden" value="{% static ''%}">
{% include 'topbar.html'%}
<div class="wrapper position-relative">

{#    {% include 'sidebar.html' %}#}

    <!-- Page Content  -->
    <div id="content">

        <div class="content-wrapper">
            {% block content %}
            {% endblock content %}
        </div>

{#        {% include 'footer.html' %}#}
    </div>

</div>
{% block modal_templates %} {% endblock %}
{% render_block "modal_templates" %}

</body>
</html>
