{% load static %}
{% load sekizai_tags %}
{% csrf_token %}
<div class="row mt-3 d-none" id="enhancementContainer">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div id="enhancementWrapper-left">
                    <div id="enhancementForm-left">
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <button type="button" class="btn btn-outline-primary" id="enhancementSelectionModeButton-left">
                                    <i class="fas fa-plus"></i> Choose Activity
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="enhancementContainer-left">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div id="enhancementWrapper-right">
                    <div id="enhancementForm-right">
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <button type="button" class="btn btn-outline-primary" id="enhancementSelectionModeButton-right">
                                    <i class="fas fa-plus"></i> Choose Activity
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="enhancementContainer-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <div class="col">#}
{#        <div id="enhancementWrapper">#}
{#            <div id="enhancementForm">#}
{#            </div>#}
{#            <div id="enhancementContainer">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>
{% addtoblock "js" %}
<script type="text/javascript" src="{% static 'js/enhancement.js' %}" defer></script>
{% endaddtoblock %}