{% load static %}
{% load sekizai_tags %}


<div id="filterWrapper" class="col border-start d-none">
    <div class="row">
        <div class="col">
            <h5>Filter Settings</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row mb-3 align-content-center">
                <label for="filterFitnessThreshold" class="col-3 col-form-label">Fitness Threshold: <i type="button" data-bs-toggle="tooltip" title="The fitness filter allows us to replay the object-centric event log on the discovered object-centric Petri net and filter out objects that do not meet a specified fitness requirement. For this, we replay each object on a flattened version of its object type’s Petri net and calculate the corresponding trace fitness. If this is below the passed threshold the object is filtered out. In case all objects related to an event are removed, the event will be removed as well" class="fa fa-info-circle"></i></label>
                <div class="col-1">
                    <input type="text" class="form-control" id="filterFitnessThreshold">
                </div>
                <div class="col-auto col-form-label">
                    <label class="form-check-label" for="replayTypeSelect">
                        Replay Type:
                    </label>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example" id="replayTypeSelect">
                        <option selected value="token">Token-based</option>
                        <option value="alignment">Alignment-based </option>
                    </select>
{#                    <div class="form-check">#}
{#                        <input class="form-check-input" type="checkbox" value="" id="mustUseAllCheckbox">#}
{#                        <label class="form-check-label" for="mustUseAllCheckbox">#}
{#                            Must use all Activities#}
{#                            <i type="button" data-bs-toggle="tooltip" title="If not selected, we filter out objects that do not contain any of the desired activities in their lifetime. If this option is selected, we ensure that all of the desired activities must occur for each object that is kept" class="fa fa-info-circle"></i>#}
{#                        </label>#}
{#                    </div>#}
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="filterActivities" class="col-3 col-form-label">Select activities of interest: <i type="button" data-bs-toggle="tooltip" title="The activity filter allows us to filter out objects that are not involved in the execution of events with the selected activities" class="fa fa-info-circle"></i></label>
                <div class="input-group col">
                    <input type="text" class="form-control" id="filterActivities" readonly>
                    <button class="btn btn-outline-primary" type="button" id="selectionModeButton">Select Transitions</button>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="mustUseAllCheckbox">
                        <label class="form-check-label" for="mustUseAllCheckbox">
                            Must use all Activities
                            <i type="button" data-bs-toggle="tooltip" title="If not selected, we filter out objects that do not contain any of the desired activities in their lifetime. If this option is selected, we ensure that all of the desired activities must occur for each object that is kept" class="fa fa-info-circle"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-3 col-form-label">Select time span: <i type="button" data-bs-toggle="tooltip" title="Events outside of the selected time-frame are no longer considered" class="fa fa-info-circle"></i></label>
                <div class="col-auto">
                    <div class="row">
                        <label for="timeFrom" class="col-form-label col-auto me-3">from:</label>
                        <div class="col-auto">
                            <input type="datetime-local" class="form-control me-3" id="timeFrom">
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <label for="timeTo" class="col-form-label col-auto me-3">to:</label>
                        <div class="col-auto">
                            <input type="datetime-local" class="form-control col-3" id="timeTo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-auto">
            <button type="button" class="btn btn-primary" id="applyFilterButton">
                Apply Filter
            </button>
            <button type="button" class="btn btn-secondary ms-2 d-none" id="removeFilterButton">
                Remove Filter
            </button>
        </div>
    </div>
</div>

{% addtoblock "js" %}
    <script type="text/javascript" src="{% static 'js/filter.js' %}" defer></script>
{% endaddtoblock %}
