{% load static %}
{% load static %}
{% load sekizai_tags %}
<form enctype="multipart/form-data" method="post">
    <form enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-OCEL-name">Name</span>
                    <input type="text" id="ocel_name" class="form-control" aria-label="OCEL Name"
                           aria-describedby="inputGroup-OCEL-name" placeholder="Name">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-OCEL-description">Description</span>
                    <input type="text" id="ocel_desc" class="form-control" aria-label="OCEL Description"
                           aria-describedby="inputGroup-OCEL-desc" placeholder="Description">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="{{ ocel_upload_form.ocel_file.id_for_label }}" class="form-label" hidden>OCEL file:</label>
            {{ ocel_upload_form.ocel_file }}
        </div>
        <div class="row mt-3">
            <label for="DiscoveryAlgorithm" class="col-auto col-form-label">Select a discovery algorithm: </label>
            <div class="col-5">
                <select id="DiscoveryAlgorithm" class="form-select">
                    <option value="inductive miner classic"> inductive miner classic</option>
                    <option value="inductive miner infrequent"> inductive miner infrequent</option>
                    <option value="inductive miner directly follows" selected> inductive miner directly follows</option>
                    <option value="alpha miner classic"> alpha miner classic</option>
                    <option value="alpha miner plus"> alpha miner plus</option>
                    <option value="heuristic miner classic">heuristic miner classic</option>
                    <option value="heuristic miner plus plus">heuristic miner plus plus</option>
                </select>
            </div>
            <div>
                <div class="col">
                    <div id="parameters">c</div>
                </div>
            </div>
        </div>
    </form>
</form>

{% addtoblock "js" %}
<script type="text/javascript" src="{% static 'js/parameters.js' %}" defer></script>
{% endaddtoblock %}