{% extends 'base.html' %}
{% load static %}
{% load sekizai_tags %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="card mb-3 d-none" id="ocpn_content">
{#        <div class="card-header">#}
{#            <div class="col-12">#}
{#                <h3>Welcome</h3>#}
{#            </div>#}
{#        </div>#}
        <div class="card-body">
            {% include 'load_ocel.html' %}
{#            {% include 'import.html' %}#}
            <div id="OCPNModelWrapper" class="d-none mt-3">
                {% if ocpn_png %}
                    <img src="{{ ocpn_png }}" style="width: 100%">
                {% endif %}
            </div>
               {% include 'enhancement.html' %}
        </div>
    </div>


    <div class="wrapper position-relative">
        <div class="wrapper-load position-absolute" id="load-wrapper">
            <div class="load fadeInDown">
                <div class="formContent" id="loadContent">
                    <h3 class="load-title">Data Aware Object-Centric Petri Net</h3>
                    <div id="loadAlert" class="alert alert-danger collapse" role="alert">
                        <span></span>
                    </div>
                    <form id="load-form">
{#                        {% csrf_token %}#}
                        {#                <input type="hidden" id="next" name="next" value="{{ next }}">#}
{#                        <input type="text" id="login" class="fadeIn second" name="username" placeholder="User" required>#}
{#                        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" required>#}
{#                        <input type="submit" class="fadeIn fourth" id="load-button" value="Load OCEL">#}

                        <button type="button" class="fadeIn fourth" data-bs-toggle="modal" data-bs-target="#loadOCELModal" id="loadOCELBtn">
                            Load OCEL
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% include 'load_modal.html' %}
{% endblock %}

{% block scripts %}
    {% addtoblock "js" %}
        <script type="text/javascript" src="{% static 'js/ocpn.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/graph.js' %}" defer></script>
    {% endaddtoblock %}
{% endblock %}
