{% load static %}
{% load sekizai_tags %}

<!-- Button trigger modal -->
<div class="row">
    <div class="col-4">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loadOCELModal">
                    Load OCEL
                </button>
            </div>
        </div>
        <div class="row">
            <div class="w-75 d-none mt-3"  id="selectedOCELWrapper">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <h5 id="selectedOCELTitle">Selected OCEL: <span id="selectedOCELName">Name</span></h5>
                                    <span class="fst-italic" id="selectedOCELFile">pm4py-example.jsonocel</span> </br>
                                     <span id="selectedAlgorithm"> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col mt-4 d-none" id="decisionRow">
                <button type="button" class="btn btn-primary" id="toggleDecisionPointsBtn">
                    Toggle Decision Points
                    <i type="button" data-bs-toggle="tooltip" title="This toggles suggestions on decision points that might be interesting to analyze. The user can, for example, closer inspect and compare the patterns present at the outgoing transitions of a suggested decision point." class="fa fa-info-circle"></i>
                </button>
            </div>
        </div>
    </div>
    {% include 'filter.html' %}
{#    <div class="col-3">#}
{#        <div class="input-group">#}
{#          <span class="input-group-text" id="basic-addon3">Current OCEL</span>#}
{#          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" aria-label="Amount (to the nearest dollar)">#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-3">#}
{#        <div class="input-group">#}
{#            <span class="input-group-text" id="basic-addon3">Name</span>#}
{#            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" aria-label="Amount (to the nearest dollar)">#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-3">#}
{#        <div class="input-group">#}
{#            <span class="input-group-text" id="basic-addon3">Description</span>#}
{#            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" aria-label="Amount (to the nearest dollar)">#}
{#        </div>#}
{#    </div>#}
</div>

<!-- Modal -->

{% addtoblock "js" %}
    <script type="text/javascript" src="{% static 'js/ocpn_table.js' %}" defer></script>
{% endaddtoblock %}
