<div class="modal modal-xl fade" id="loadOCELModal" tabindex="-1" aria-labelledby="loadOCELModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadOCELModalLabel">Load OCEL</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="newOCELFile">
                    <h6 class="mb-4">Choose new OCEL File</h6>
                    {% include 'import.html' %}
                </div>
                <div class="my-4">
                    <hr>
                </div>
                <div class="row" id="selectOCELFile">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h6 class="mb-3">Or choose existing OCEL File</h6>
                            </div>
                        </div>
                        <div class="row">
                            {% include 'ocel_table.html' %}
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="persist d-flex justify-content-center">
                        <hr class="flex-grow-1 me-1">
                        <button class="persist btn btn-outline-info border-0" data-bs-target="#further_settings" data-bs-toggle="collapse">Advanced Settings ▼</button>
                        <hr class="flex-grow-1 ms-1">
                    </div>
                    <div id="further_settings" class="persist collapse mb-3">
                        <div class="form-check">
                            <input id="displayImage" class="form-check-input me-2" name="displaySetting" type="radio">
                            <label class="form-check-label" for="displayImage">
                                Display as image
                            </label>
                            <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Display discovered OCPN as image" class="fa fa-info-circle btn"></button>
                        </div>
                        <div class="mb form-check">
                            <input id="displayGraph" class="form-check-input me-2" name="displaySetting" type="radio" checked>
                            <label class="form-check-label" for="displayGraph">
                                Display as interactive graph
                            </label>
                            <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Display discovered OCPN as interactive graph" class="fa fa-info-circle btn"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="OCPNDiscoveryBtn">Start</button>
            </div>
        </div>
    </div>
</div>
