<table id="OCPNTable" class="table w-100">
    <thead>
    <tr>
        <th class="id">ID</th>
        <th class="name">Name</th>
        <th class="description">Description</th>
        <th class="filename">Filename</th>
        <th class="discovery_algorithm">Discovery Algorithm</th>
        <th class="file">File</th>
        <th class="action"></th>
    </tr>
    </thead>
</table>
