<div class="toast mb-2" role="alert" aria-live="assertive" aria-atomic="true" id="defaultLiveToast">
  <div class="toast-header">
    <strong class="me-auto toast-main-title">Bootstrap</strong>
    <small class="toast-subtitle">11 mins ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>