{% load sekizai_tags %}
{% load static %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div id="navbar-container" class="container-fluid">
        <div class="sidebar-header ms-3">
            <span>
                <h2 class="text-light">{{ PRODUCT_NAME }}</h2>
            </span>
        </div>

        <div>
            <a href="{% url 'app:swagger-ui' %}" target="_blank" rel="noopener noreferrer" class="me-3" style="text-decoration: none; color: white; text-decoration-color:  white">API</a>
            <a target="_blank" rel="noopener noreferrer" href="docs" style="color: white" class="me-3">
                <span title="Documentation" class="font-weight-bold">
                    <i class="fas fa-question-circle"></i>
                </span>
            </a>
        </div>

    </div>
</nav>

{% addtoblock "js" %}

{% endaddtoblock %}
