/** Content Pane Styles **/

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

.content-wrapper {
    padding: 20px;
    min-height: 100vh;
}

.z-2000 {
    z-index: 2000;
}

